head{
    font-size: large;
    font-style: bold;
}
input[type="text"],input[type="password"]{
    display: inline-block;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border: solid gray;
    width: 100%;
}
button{
    background-image: linear-gradient(to right,#b7a4b7,#452c63);
    color: azure;
    font-style: bold;
    cursor: pointer;
   text-align: center;
    border: none;
    font-size: large;
    text-decoration: none;
display: inline-block;
    position: relative;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
.forget{
    float: right;
    margin-top: 2px;
}
a:link{
    color: rgb(7, 7, 7);
}
a:visited{
    color: rgb(36, 39, 36);
}
a:hover{
    color: beige;
}
a:active{
    color: rgb(99, 188, 188);
}
.imgstyle{
    text-align: center;
}
.colorstyle{
    background-image: linear-gradient(to right,#D8BFD8,#452c63);
}
#imgmapid{
    text-align: center;

}
#login1{
    text-align: center;
}